@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  margin: 0;
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
  list-style-type: none;
}

a:not([class]) {
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  max-width: 1070px;
  margin: 0 auto;
}

.header {
  display: block;
  width: 100%;
  padding: 38px 20px 48px 20px;
  background: rgba(255, 113, 67, 0.27);
}

.header .header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__item .navigation .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__item .navigation .nav__list .nav__li {
  color: aqua;
}

.header .header__item .navigation .nav__list .nav__li:not(:first-of-type) {
  margin-left: 49px;
}

.header .header__item .navigation .nav__list .nav__link {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.468947;
  color: #696871;
  text-decoration: none;
}

.header .header__item .knopka {
  background: #FF7143;
  border-radius: 10px;
  padding: 19px 60px;
  font-weight: bold;
  line-height: 22px;
}

.header .header__item .knopka .knopka__link {
  text-decoration: none;
  color: white;
}

.header .header__item .knopka:hover {
  background: #fa7a4f;
}

.button {
  color: white;
  height: 60px;
  width: 212px;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 85px;
}

.main__titel {
  max-width: 467px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 80px;
  line-height: 77px;
  color: #000;
}

.about__text {
  max-width: 410px;
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 30px;
  color: #696871;
}

.button__violet {
  background: #5454d4;
}

.button__none {
  background: none;
  border: 1px solid #5454d4;
  color: #5454d4;
  margin-left: 35px;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 85px;
}

.subscribe .subscribe__title, .subscribe  h2 {
  padding: 10px;
  font-weight: bold;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -1.56316px;
  color: #19191B;
  margin-bottom: 38px;
}

.subscribe .form .input {
  height: 60px;
  width: 307px;
  border-radius: 10px;
  border: 1px solid #7087FF;
  padding-left: 14px;
  margin-right: 39px;
}

.subscribe .form .input::-webkit-input-placeholder .input {
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.531474px;
  color: #000000;
}

.subscribe .form .input:-ms-input-placeholder .input {
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.531474px;
  color: #000000;
}

.subscribe .form .input::-ms-input-placeholder .input {
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.531474px;
  color: #000000;
}

.subscribe .form .input::placeholder .input {
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.531474px;
  color: #000000;
}

.subscribe .form .input:focus {
  outline: none;
}

.check__list {
  margin-bottom: 132px;
}

.check__list .list__titel {
  max-width: 504px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 110px;
  letter-spacing: -1.87579px;
  color: #19191B;
}

.check__list .list__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check__list .list__flex .list__item {
  width: 330px;
  background: #F8F8F8;
  text-align: center;
  border-radius: 10px;
  padding: 34px 0 27px;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.check__list .list__flex .list__item .list__item-text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.562737;
  color: #696871;
}

.check__list .list__flex .list__item .list__item-titel {
  font-weight: bold;
  font-size: 60px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -1.03448px;
  color: #1D293F;
  margin: 22px 0 28px;
}

.check__list .list__flex .list__item .list__item-titel span {
  font-size: 28px;
}

.check__list .list__flex .list__item .list__item-li {
  list-style: none;
  font-size: 17px;
  line-height: 50px;
  letter-spacing: -0.531474px;
  color: #696871;
}

.check__list .list__flex .list__item .button__list__item {
  width: 282px;
  background: white;
  color: #5454d4;
}

.check__list .list__item:hover {
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  background: #FF7143;
  -webkit-box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
          box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
}

.check__list .list__item:hover .list__item-text,
.check__list .list__item:hover .list__item-titel,
.check__list .list__item:hover .list__item-li {
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  color: white;
}

.check__list .list__item:hover .button__list__item {
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  color: white;
  background: #9F3919;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 38px 20px 38px 20px;
  background: rgba(255, 113, 67, 0.27);
}

.footer .navigation__footer .nav__list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .navigation__footer .nav__list-footer .nav__li-footer:not(:first-of-type) {
  margin-left: 49px;
}

.footer .navigation__footer .nav__list-footer .nav__link-footer {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.468947;
  color: #696871;
  text-decoration: none;
}

.footer .navigation__footer .nav__list-footer .nav__link-footer a {
  margin: 0 15px;
}

@media screen and (max-width: 550px) {
  .container {
    max-width: 378px;
  }
  .header img  {
    margin: 0 auto;
    width: 100%;
  }
  .header .navigation {
    display: none;
  }
  .header .knopka {
    display: none;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .main .main__titel {
    font-size: 60px;
    line-height: 50px;
  }
  .main .button__none {
    margin: 10px 0 30px 0;
  }
  .main .button {
    width: 200px;
  }
  .main img  {
    width: 100%;
  }
  .subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .subscribe img  {
    width: 100%;
  }
  .subscribe .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 5px;
  }
  .subscribe .form .input {
    width: 180px;
  }
  .subscribe .form .button__violet {
    width: 100px;
  }
  .subscribe .subscribe__title {
    font-size: 60px;
    line-height: 50px;
  }
  .check__list {
    text-align: center;
  }
  .check__list .list__titel {
    font-size: 60px;
    line-height: 50px;
  }
  .check__list .list__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .check__list .list__flex .list__item:not(:last-of-type) {
    margin-bottom: 20px;
  }
}
