/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    margin: 0;
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

// /* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
    list-style: none;
    list-style-type: none;
}

// /* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
    text-decoration: none;
    text-decoration-skip-ink: auto;
}

// /* Упрощаем работу с изображениями */

img {
    max-width: 100%;
    display: block;
}

// /* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
    margin-top: 1em;
}

// /* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
    font: inherit;
}

// /* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

@media (prefers-reduced-motion: reduce) {
* {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
}
}


.container {
    max-width: 1070px;
    margin: 0 auto;
}



.header {
    display: block;
    width: 100%;
    padding: 38px 20px 48px 20px;
    background: rgba(255, 113, 67, 0.27);
    
    .header__item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navigation {
            .nav__list {
                display: flex;
                
                .nav__li {
                    color: aqua;
                }

                .nav__li:not(:first-of-type) {
                    margin-left: 49px;
                }

                .nav__link {
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 20px;
                    letter-spacing: -0.468947;
                    color: #696871;
                    text-decoration: none;
                }
            }
        }
        .knopka {
            background: #FF7143;
            border-radius: 10px;
            padding: 19px 60px;
            font-weight: bold;
            line-height: 22px;

            .knopka__link {
                text-decoration: none;
                color: white;

            }
        }

        .knopka:hover {
            background: #fa7a4f;  
        }
    }  
}

.button {
    color: white;
    height: 60px;
    width: 212px;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;
}

.main__titel {
    max-width: 467px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    color: #000;
}

.about__text {
    max-width: 410px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 30px;
    color: #696871;
}

.button__violet {
    background: #5454d4;
}

.button__none {
    background: none;
    border: 1px solid #5454d4;
    color: #5454d4;
    margin-left: 35px;
}




.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;

    .subscribe__title, h2{
        padding: 10px;
        font-weight: bold;
        font-size: 50px;
        line-height: 57px;
        letter-spacing: -1.56316px;
        color: #19191B;
        margin-bottom: 38px;
    }
    .form {
        .input {
            height: 60px;
            width: 307px;
            border-radius: 10px;
            border: 1px solid #7087FF;
            padding-left: 14px;
            margin-right: 39px;
        }

        .input::placeholder .input{
            font-weight: bold;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: -0.531474px;
            color: #000000;
        }

        .input:focus{
            outline: none;
        }
    }
}

.check__list{
    margin-bottom: 132px;
    .list__titel{
        max-width: 504px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 110px; 
        letter-spacing: -1.87579px;
        color: #19191B;
    }
    .list__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .list__item {
            width: 330px;
            background: #F8F8F8;
            text-align: center;
            border-radius: 10px;
            padding: 34px 0 27px;
            transition: 0.7s ease; 

            .list__item-text {
                font-size: 18px;
                line-height: 28px;
                letter-spacing: -0.562737;
                color: #696871;
            }
            .list__item-titel {
                font-weight: bold;
                font-size: 60px;
                line-height: 56px;
                text-align: center;
                letter-spacing: -1.03448px;
                color: #1D293F;
                margin: 22px 0 28px;
                span {
                    font-size: 28px;
                }
            }
            .list__item-li {
                list-style: none;
                font-size: 17px;
                line-height: 50px;
                letter-spacing: -0.531474px;
                color: #696871;
            }
            .button__list__item {
                width: 282px;
                background: white;
                color: #5454d4;
            }
        }
    }
    .list__item:hover {
        transition: 0.7s ease;
        background: #FF7143;
        box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
    }
    .list__item:hover .list__item-text,
    .list__item:hover .list__item-titel,
    .list__item:hover .list__item-li {
        transition: 0.7s ease;
        color: white;
    }
    .list__item:hover .button__list__item {
        transition: 0.7s ease;
        color: white;
        background: #9F3919;
    }
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 38px 20px 38px 20px;
    background: rgba(255, 113, 67, 0.27);

    .navigation__footer {
        .nav__list-footer {
            display: flex;
            .nav__li-footer:not(:first-of-type) {
                margin-left: 49px;
            }
            .nav__link-footer {
                font-weight: bold;
                font-size: 15px;
                line-height: 20px;
                letter-spacing: -0.468947;
                color: #696871;
                text-decoration: none;
                a {
                    margin: 0 15px;
                }
            }
        }
    }   
}

@media screen and (max-width: 550px){
    .container {
        max-width: 378px;
    }
    
    .header { 
        img {
            margin: 0 auto;
            width: 100%;
        }
        .navigation {
            display: none;
        }
        .knopka {
            display: none;
        }
    }
    
        
        
    .main {
        flex-direction: column;
        text-align: center;

        .main__titel {
            font-size: 60px;
            line-height: 50px;
        }
        .button__none {
            margin: 10px 0 30px 0;
        }
        .button {
            width: 200px;
        }
        
        img {
            width: 100%;
        }
    }

    .subscribe {
        flex-direction: column-reverse;
        text-align: center;

        img {
            width: 100%;
        }
        
        .form {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px 5px;
            
            .input{
                width: 180px;
            }
            .button__violet {
                width: 100px;
            }
        }

        .subscribe__title {
            font-size: 60px;
            line-height: 50px;
        }

    }

    .check__list {
        text-align: center;

        .list__titel {
            font-size: 60px;
            line-height: 50px;
        }

        .list__flex {
            flex-direction: column;

            .list__item:not(:last-of-type){
                margin-bottom: 20px;
            }
        }
    }
}